<!DOCTYPE html>
<html>
   <head>
      <title>Make your booking</title>
   </head>

   <style>
       .theForm{
        margin-left: 30%;
       }
   </style>


   <body>
      <h1>Make your booking</h1>

    <form action="#">
        <label for="lang">Select your valet service</label>
        <select name="languages" id="lang">
            <option value="Interior clean">Interior clean</option>
            <option value="Wax">Wax</option>
            <option value="Wash">Wash</option>
            <option value="Seat wash">Seat wash</option>
            <option value="Ceramic">Ceramic</option>
            <option value="coating">coating</option>
        </select>
        <input type="submit" value="Pay" />
  </form>

   </body>
</html>
